<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- cdn -->
    <!-- <script src="htt\ps://unpkg.com/vue@next"></script> -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/element-plus/lib/theme-chalk/index.css"> -->
    <!-- <script src="https://unpkg.com/element-plus/lib/index.full.js"></script> -->
    <script src="./vue.js"></script>
    <link rel="stylesheet" href="./ele.css">
    <script src="./ele.js"></script>

    <title>Document</title>
    <style type="text/css">
        body,
        html {
            padding: 0;
            margin: 0;
            /* background: url('./bac.jpg'); */
            /* background-repeat: no-repeat; */
            /* background-size: 100% auto; */
            /* background-color: #F2F6FC; */
        }
        
        #app {
            margin: auto;
            max-width: 960px;
            /* background-color: #EBEEF5; */
            border-left: 1px solid #F2F6FC;
            border-right: 1px solid #F2F6FC;
        }
    </style>
</head>

<body>
    <div id="app">
        <el-container style="height: 100vh;">
            <el-header style="background-color :null;border-bottom:1px solid #DCDFE6;padding: 0 40px;">
                <bl-header :data="headerData">head</bl-header>
            </el-header>
            <el-container style="height: 80vh;">
                <el-aside width="200px " style="overflow-x: hidden;padding-left:20px;">
                    <el-scrollbar>
                        <bl-aside @hash-chang="changHash" :items="menuItems">aside</bl-aside>
                    </el-scrollbar>
                </el-aside>
                <el-container style="border-left: 1px solid #DCDFE6;">
                    <el-main>
                        <el-scrollbar>
                            <el-page-header @back="goBack" :content="menuItems[hash].title" style="padding-bottom: 100px;">
                            </el-page-header>
                            <keep-alive>
                                <component :is="mainComponent" :data="mainData">null</component>
                            </keep-alive>
                        </el-scrollbar>
                    </el-main>
                    <el-footer height="auto" style="background-color: transparent; border-top: 1px solid #DCDFE6;">
                        <bl-footer :data="footerData">footer</bl-footer>
                    </el-footer>
                </el-container>
            </el-container>
        </el-container>
    </div>
    <script>
        const BlAside = {
            template: ` <el-menu :uniqueOpened="false" :default-active="hash" class="el-menu-vertical-demo" @open="handleOpen" @close="handleClose" @select="select" background-color="transparent" text-color="" active-text-color="" style="height: 100%;"> <el-menu-item v-for="(item, index) in items" :index="String(index)" :disabled="item.disabled"> <i :class="item.ico"></i> <template #title>{{item.title}}</template> </el-menu-item> </el-menu>`,
            inject: ['hash'],
            props: ['items'],
            methods: {
                handleOpen(key, keyPath) {
                    console.log(key, keyPath);
                },
                handleClose(key, keyPath) {
                    console.log(key, keyPath);
                },
                select(key, keyPath) {
                    location.hash = key;
                    this.$emit('hash-chang', key);
                },
            },
        };
        const BlHeader = {
            template: ` <el-row type="flex" justify="space-between" align="middle" style="height: 100%; "><el-link type="primary" :underline="false"><span style="font-size: 24px;"><b>{{data.logo}}</b></span></el-link> <el-dropdown @command="handleCommand"> <span class="el-dropdown-link" style="font-size: 20px;"> {{data.username}} <i class="el-icon-arrow-down el-icon--right"></i> </span> <template #dropdown> <el-dropdown-menu> <el-dropdown-item v-for="(item, index) in data.items" :command="item.command" :disabled="item.disabled">{{item.title}}</el-dropdown-item> </el-dropdown-menu> </template></el-dropdown> </el-row>`,
            props: ['data'],
            methods: {
                handleCommand(command) {
                    this.$message('click on item ' + command);
                }
            },
        };
        const BlFooter = {
            template: `
                <el-row type="flex" justify="center" align="bottom"> <el-link type="info" :underline="false"> <p>{{data.p}}</p> </el-link> </el-row>
            `,
            props: ['data']
        };
        const MainTest = {
            template: `
                <h1>{{data}}</h1>
            `,
            props: ['data'],
            data() {
                return {
                    form: {
                        name: '',
                        region: '',
                        date1: '',
                        date2: '',
                        delivery: false,
                        type: [],
                        resource: '',
                        desc: ''
                    }
                }
            },
        };
        const BlFormDemo = {
            template: `
                <el-form ref="form" :model="form" label-width="80px"> <el-form-item label="活动名称"> <el-input v-model="form.name"></el-input> </el-form-item> <el-form-item label="活动区域"> <el-select v-model="form.region" placeholder="请选择活动区域"> <el-option label="区域一" value="shanghai"></el-option> <el-option label="区域二" value="beijing"></el-option> </el-select> </el-form-item> <el-form-item> <el-button type="primary" @click="onSubmit">立即创建</el-button> <el-button>取消</el-button> </el-form-item> </el-form>
            `,
            data() {
                return {
                    form: {
                        name: '',
                        region: '',
                        date1: '',
                        date2: '',
                        delivery: false,
                        type: [],
                        resource: '',
                        desc: ''
                    }
                }
            },
            computed: {
                mainComponent() {
                    // return this;
                }
            },
            methods: {
                onSubmit() {
                    console.log('submit!');
                }
            },

        };
        const App = {
            data() {
                return {
                    message: "Hello Element Plus ",
                    hash: location.hash.substr(1, 2) || "1",
                    menuItems: [{
                        disabled: true,
                        ico: "el-icon-menu",
                        title: "用户管理",
                    }, {
                        disabled: false,
                        ico: "el-icon-menu",
                        title: "站点状态",
                    }, {
                        disabled: false,
                        ico: "el-icon-menu",
                        title: "前台配置",
                    }],
                    headerData: {
                        logo: '直播后台',
                        username: 'test',
                        items: [{
                            disabled: true,
                            title: "修改密码",
                            command: "command1"
                        }, {
                            disabled: false,
                            title: "退出",
                            command: "command2"
                        }]
                    },
                    footerData: {
                        p: 'power by cjie'
                    },
                    mainData: 'null'
                };
            },
            components: {
                'bl-aside': BlAside,
                'bl-header': BlHeader,
                'bl-footer': BlFooter,
                'bl-form': BlFormDemo,
                'main-0': MainTest,
                'main-1': BlFormDemo,
                'main-2': MainTest,
            },
            provide: {
                hash: location.hash.substr(1, 2) || "1",
            },
            computed: {
                mainComponent() {
                    return 'main-' + this.hash;
                },
                username() {
                    return 'test';
                }
            },
            methods: {
                goBack() {
                    console.log('go back');
                },
                changHash(hash, title) {
                    console.log('hashchang');
                    this.hash = hash;
                }
            },
        };
        const app = Vue.createApp(App);
        app.use(ElementPlus);
        app.mount("#app ");
    </script>
</body>

</html>